/* CSS Document */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; 
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body {
    position: relative;
    top: 0;
    width: 100%;
    background: #c7ccbd;
    
}

h2 {
    text-align: center;
    font-size: 3.5rem;
    color: #767B91;
    padding: auto 20px;
    border-bottom: #767B91 solid 5px;
    margin-right: 250px;
    margin-left: 250px;
    margin-bottom: 20px;
}

h3 {
    color: #2a324b;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 4rem;
    
}

header {
  position: top;
  height: 200px;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: #2a324b;
  z-index: 2;
}
header .content{
  font-weight: 700;
  color: #f7c597;
  line-height: 3.5rem;
  text-align: center;
  padding-top: 50px;
  margin: auto 30px;
  
}

header h1 {
  font-size: 4rem;
}


.main { 
    width:100%;
    padding-top: 80px;    
}

.brief, .requirements, .process, .gallery {
    margin: auto 10px 50px 40px;
    color: #323232;
}

.brief-list, .requirements-list {
    margin: auto 80px 25px 80px;
    padding: 20px;
    line-height: inherit;
    
}

.brief-list-right {
    align-content: flex;
}


.purpose, .research, .narration, .storyboard {
    margin: auto 80px 25px 80px;
}

.storyboard-images {
    width:700px;
    align-content: space-around;
    
}

.storyboard-images img {
    margin: 20px;
}

.gallery-images {
    width:800px;
    align-content: space-around;
    
}    

.gallery-images img{
    margin: 20px;
   
}

.website {
    text-align: center;
    padding-top: 20px
}
    

.website-screen img {
    margin: 20px;
    
}

footer {
    color: #c7ccbd;
    background-color: black;
    height: 85px;
    text-align: center;
    font-size: 12px;    
    margin-top: 20px;
    
}

footer p {
    padding-top: 40px;
    opacity: .4;
}
/* CSS Document */

