@charset "UTF-8";

* {
    top: 0;
    margin: 0px;
    padding: 0px;    
    font-size: 16px;
    font-family: 'Futura', sans-serif;

}

body {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #FFFFFF;
    display: block;
}

a {
    text-decoration: none;

}

.color-block {
	width: 100%;
	height: 750px;
	min-height: 650px;
	background-color: #4CB5AE;
	position: relative;
	-webkit-box-shadow: 1px 1px 8px #7A7A7A;
	box-shadow: 1px 1px 8px #7A7A7A;
}

.nav-bar {
	position: relative;
    padding: 0px 0px;
	top: 0;
    left:0;
    right: 0;
	width: 100%;
    height: 90px;
	display: inline-flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
    color: #FFFDED;
}

.nav-bar-contents {
    flex-grow: 1;
    padding: 0px 60px;
    
}

.logo-nav {
    position: relative;
    display: inline-flex;
    font-weight: 800;
    font-size: 1.07rem;
    letter-spacing: .01rem;
  
}

.nav-mak {
    font-family: reross-rectangular, sans-serif;
}

.nav-content {
    postion: relative;
    display: inline-flex;
    float: right;
    
}

.nav-content li, .nav-content li a {
    position: relative;
    color: #FFFDED;
    font-family: reross-quadratic, sans-serif;
	display: inline-flex;
    text-decoration: none;
    padding: 0px 0px 0px 20px;

}

h1 {
    position: relative;
    font-family: reross-rectangular, sans-serif;
    font-size: 3rem;
    color: #FFFDED;
    padding: 50px 200px 0px 200px;
    z-index: 5;
    letter-spacing: .5rem;
    line-height: 5rem;

}

.purple {
    color: #435497;
    font-family: reross-rectangular, sans-serif;
    font-size: 3rem;
}

.orange {
    color: #FFB17A;
    font-family: reross-rectangular, sans-serif;
    font-size: 3rem;
}

.blue {
    color: #4CB5AE;
    font-family: reross-rectangular, sans-serif;
    font-size: 3rem;
}

.dots-background {
    position: absolute;
    width: 100%;
    top: auto;
    bottom: 0;
    z-index: 0;
    
}

footer {
	width: 100%;
	padding: 0px;
	
}

footer li {
    color: #201335;
}

.footer-content {
    display: flex;
    padding: 50px 60px 10px 20px;
    
}

.footer-logo {
    position: flex;
    flex-direction: column;
    padding: 80px 20px 40px 30px;
    justify-content: space-between;
    flex-grow: 1;
}

footer h2 {
    width: auto;
    font-weight: 800;
    font-size: 1.5rem;
}

.footer-text {
    font-family: reross-rectangular, sans-serif;
    font-weight: 400;
    font-size: 1.5rem; 
    padding-left: .2rem;
} 

footer p {
    font-family: reross-rectangular, sans-serif;
    font-size: .47rem;
    letter-spacing: .03rem;
    margin-top: -4px;
}

footer img {
    display: inline-flex;
    position: relative;
    width: 15px;
    padding: 25px 8px 0px 0px;

}

.footer-map {
    display: inline-flex;
    float: right;
    justify-content: space-between;
    
}

.list-title {
    font-weight: 500;
}

footer li {
    font-weight: 200;
    display: flex;
    text-decoration: none;
    padding: 20px 0px 0px 80px;
}
