@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;    
    background-color: #F5F5F5;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;

}

header {  
    text-align: center;
    display: block;
    z-index: 10;
    padding-bottom: 100px

}

.header-content {
    display: inline-block;
    padding: 20px 40px;
}

header h2 {
    margin-bottom: 20px;
}

nav {
    width: 800px;
    height: 70px;
    color: #ffffff;
    display: block;    
    margin: 10px 40px;
    
    }

.nav-content {
    float: right;
    
}

.nav-content li {
	display: inline-block;
    text-decoration: none;
}

.myphoto   {
	border: thick solid #1B76BC;
	border-radius: 352px;
	max-width: 80px;
	max-height: 80px;
	margin-left: 30px;
}
    

body {
	
    
}

footer {
    height: 120px;
    padding: 20px auto;
    margin-top: 20px;
    text-align: center;
}

.footer-text {
    
} 
