@charset "UTF-8";

* {
    top: 0;
    margin: 0px;
    padding: 0px;    
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;

}

body {
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    display: block;
}


h2 {
    font-family: "Homenaje", Impact, Haettenschweiler, 'Franklin Gothic Bold', 'Arial Black', 'sans-serif';
}

.logo-float {
	postion: relative;
	width: 100px;
	padding: 20px 40px;
	background-color: #435499;
	margin-right: 80%;
	float: left;
	z-index: 9999999;
}

.logo-float-img {
    background-color: #435499;
    display: block;

}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F5F5F5;
    display: block;
    z-index: 5;
    
    }

.nav-content {
    float: right;
    padding: 10px 40px 10px 0px;
    background-color: #F5F5F5;  
}

.nav-content li, .nav-content li a {
	display: inline-block;
    text-decoration: none;
	color: #2D3142;
    background-color: #F5F5F5;
    padding: 8px 5px;

}

.logo-nav{
	padding: 20px 40px;
	font-style: normal;
    background-color: #F5F5F5;

}


header {  
    height: 500px;
    text-align: center;
    display: block;
    z-index: 10;
    padding-bottom: 100px;

}

.header-content {
    display: inline-block;
    padding: 20px 40px;
    
}

header h1 { 
    padding-top: 150px;
    font-family: "Homenaje", Impact, Haettenschweiler, 'Franklin Gothic Bold', 'Arial Black', 'sans-serif';
    color: #45579A;
    font-size: 6rem;
}

header .hey {
    font-weight: 800;
    color: #313131;
    font-size: 6rem;

    
}

header h3 {
	font-size: 1rem;
	letter-spacing: .2rem;
    
}

.social-header {
    width: 15%;
    height: 25%;
    position: relative;
    background-color: #45579A;
    margin-left: 75%;
    margin-right: 10%;
    border: #45579A solid thick;
    border-radius: 50%;
}

.social-header img {
    background-color: inherit;
    
}

.myphoto   {
	border: thick solid #1B76BC;
	border-radius: 352px;
	max-width: 80px;
	max-height: 80px;
	margin-left: 30px;
}
    

#projects {
    width: auto;
    padding: 40px;
    height: 700px;
    position: inherit;
    display: block;
    background-color: #F5F5F5;
    margin: 10px;
    z-index: 3;
}

#projects h2 {
    background-color: #F5F5F5;
    color: #45579A;
    

}

#projects h3 {
    background-color: #F5F5F5;
}

.who {
    background-color: #F5F5F5;
    font-weight: 800;
}

.project-block, .project-block-mid {
    display: inline-block;
    padding: 20px 40px;
    background-color: #F5F5F5;

    
    
}

.project-block-mid {
    border-left: #AAAAAA medium solid;
    background-color: #F5F5F5;

}

.project-block a {
    padding: 20px;
    background-color: #F5F5F5;

}

.projects-container {
    padding: 20px 20% 20px 10% ;
    background-color: #F5F5F5;
}

footer {
    color: #ffffff;
    background-color: #001D4A;
    height: 100px;
    padding: 100px 20px 20px 40px;
    margin-top: 20px;
    text-align: left;
    font-size: .5rem;
}

footer h2 {
    background-color: #001D4A;
    font-size: 2.3rem;
}

.footer-text {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    background-color: #001D4A;
    font-size: 2rem;

} 

footer a {
    background-color: #001D4A;
}

footer img {
    width: 15px;
    background-color: #001D4A;
    padding: 10px 6px;

}
