@charset "UTF-8";
body {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	background-color: #FFFFFF;
}
.spotify {
}
main ol .spotify {
	border-radius: 20px;
}
body main a {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	padding-right: 20px;
	padding-left: 20px;
}
.posters {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.poster-section {
	padding-left: 30px;
}
