/* CSS Document */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; 
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body {
    position: relative;
    top: 0;
    width: 100%;
    background: white;
    
}

h2 {
    text-align: center;
    font-size: 3.5rem;
    color: gray;
    padding: auto 10px;
    border-bottom: gray solid 5px;
    margin-right: 250px;
    margin-left: 250px  
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 4rem;
    
}

header {
  position: top;
  height: 200px;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: black;
  z-index: 2;
  opacity: .8;
}
header .content{
  font-weight: 700;
  color: grey;
  line-height: 3.5rem;
  text-align: center;
  padding-top: 50px;
  margin: auto 30px;
  
}

header h1 {
  font-size: 4rem;
}


.main { 
    width:100%;
    padding-top: 80px;    
}

.brief, .requirements, .process, .gallery {
    margin: auto 10px 50px 40px;
    color: #323232;
}

.brief-list, .requirements-list {
    margin: auto 80px 25px 80px;
    padding: 20px;
    line-height: inherit;
    
}


.purpose, .research, .narration, .storyboard {
    margin: auto 80px 25px 80px;
}

.storyboard-images {
    width:700px;
    align-content: space-around;
    
}

.storyboard-images img {
    margin: 20px;
}

.gallery-images {
    width:700px;
    align-content: space-around;
    
}    

.gallery-images img{
    margin: 20px;
   
}

.submission {
    text-align: center;
}

.video{   
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-post {
    margin: 20px 30px;
    
}

.download-video {
    height: 60px;
    margin-top: 10px;
}
    
.download-video a {
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    margin: auto 300px 10px 300px;
    font-weight: 700;
    background-color: #323232;
    transition: background-color, color .3s;
    
}

.download-video a:hover {
    background-color: #C7DEFE;
    color: #323232;
}


footer {
    color: darkgrey;
    background-color: gray;
    height: 40px;
    text-align: center;
    font-size: 12px;    
    margin-top: 20px;
    
}

footer p {
    padding-top: 15px;
}
