/* CSS Document */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; 
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body {
    position: relative;
    top: 0;
    width: 100%;
    background: white;
    
}

h2 {
    text-align: center;
    font-size: 3.5rem;
    color: gray;
    padding: auto 10px;
    border-bottom: gray solid 5px;
    margin-right: 250px;
    margin-left: 250px  
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 4rem;
    
}

header {
  position: top;
  height: 200px;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: black;
  z-index: 2;
  opacity: .8;
}
header .content{
  font-weight: 700;
  color: grey;
  line-height: 3.5rem;
  text-align: center;
  padding-top: 50px;
  margin: auto 30px;
  
}

header h1 {
  font-size: 4rem;
}


.main { 
    width:100%;
    padding-top: 80px;    
}

.brief, .requirements, .process {
    margin: auto 10px 50px 40px;
    color: #323232;
}

.brief-list, .requirements-list {
    margin: auto 80px;
    padding: 20px;
    line-height: inherit;
    
}


.purpose, .research, .narration, .storyboard {
    text-align: center;
    margin: 10px auto 10px auto;
}

.v-submission{ 
    display: flex;
    margin: auto 10px 50px 40px;
    
}

.v-submission video {
    
}

footer {
    color: darkgrey;
    background-color: gray;
    height: 40px;
    text-align: center;
    font-size: 12px;    
    margin-top: 20px;
    
}

footer p {
    padding-top: 10px;
}
